nav.navbar.navbar-default
  .container-fluid
    ul.nav.navbar-nav
      li.active
        = link_to 'Opere', artworks_path
      li.active
        = link_to 'Artisti', artists_path
      li.active
        = link_to 'Collaborazioni', collaborations_path
